body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

body{
	font-family:Arial,Times in Roman,Sans-serif;
	background-color:#f200ff;
	}
header{
	background-color:orange;
        color:white;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-width:5px;
	border-style:solid;
	border-color:#00FF59;
	}
h1{
	line-height:3px;
	font-size:3em;
	}
h2{
	font-size:2em;
	}
p{
	font-size:1em;
	}	
section{
	background-color:white;
        color:blue;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-width:5px;
	border-style:solid;
	border-color:#00FF59;
	}
footer{
	background-color:green;
        color:yellow;
	width:80%; 
	margin-left:auto;
	margin-right:auto;
	text-align:right;
	border-width:5px;
	border-style:solid;
	border-color:#00FF59;
	}